/*header通用样式*/

header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #e9ebee;
	box-shadow: 0px 2px 5px #ccc; 
	z-index: 999;
}

.header_con {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.header_con .logo {
	float: left;
}

.header_con .logo a{
	display: block;
	padding: 14px;

}

.he_nav {
	float: right;

}

.he_nav .list1 {
	display: block;
}

.he_nav .list1 li {
	float: left;
	margin-right: 60px;
	height: 65px;
	line-height: 65px;
	

}

.he_nav .list1 li a {
	font-size: 16px;
	color: #000;
}

.he_nav .list1 li a.active {
	color: #A7C31E;
}












































