/*header通用样式*/

header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #e9ebee;
	box-shadow: 0px 2px 5px #ccc; 
	z-index: 999;
}

.header_con {
	width: 1100px;
	height: 100%;
	margin: 0 auto;
}

.header_con .logo {
	float: left;
}

.header_con .logo a{
	display: block;
	padding: 14px;

}

.he_nav {
	float: right;

}

.he_nav>ul>li {
	float: left;
	height: 100%;
}

.he_nav ul li a {
	color: #000;
}

.he_nav .list1 {
	display: block;
}

.he_nav .list1 li ,.he_nav .list2 li{
	margin-right: 60px;
	height: 65px;
	line-height: 65px;
	

}

.he_nav .list1 li a {
	font-size: 16px;
	color: #000;
}

.he_nav ul li a:hover {
	color: #A7C31E;
}

.he_nav .list1 li a.active {
	color: #A7C31E;
}

.he_nav .list2 {
	width: 480px;
	height: 55px;
	margin: 0 auto;
}

.he_nav .list2 .more {
	position: relative;
	cursor: pointer;
}

.he_nav .list2 .more img {
	width: 13px;
	height: 13px;
	margin-left: 2px; 
}

.he_nav .list2 .more-hide {
	position: absolute;
	top: 50px;
	left: -30px;
	width: 100px;
	height: 140px;
	border: 1px solid #000;
	border-radius: 5px;
	background: #fff;
}

.he_nav .list2 .more-hide ul li {
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin-right: 0;
}


/*footer*/

.fo_bor {
	width: 100%;
	border-top: 2px solid #CCC;

}

.fo_p {
	font-size: 16px;
	color: #ccc;
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.fo_p p {
	height: 80px;
	line-height: 80px;
}


/*media header*/

@media all and (min-width: 1200px) {
	header .header_con .he_nav .list2  {
		display: none;
	}
}

@media all and (max-width: 1200px) and (min-width: 900px) {
	header .he_nav .list2 {
		display: none;
	}
	header .header_con .logo{
		margin-left: 80px;
	}
	header .header_con .he_nav{
		margin-right: 160px;
	}
	header .header_con .he_nav .list1>li {
		margin-right: 40px;
	}
	header .header_con .he_nav .list1>li a {
		font-size: 14px;
	}
}

@media all and (max-width: 900px) {
	header {
		height: 100px;
		background: #ffffff;
	}

	header .header_con {
		width: 600px;
	}

	header .header_con .logo {
		float: none;
		width: 100%;
		height: 45px;
		margin: 0 auto;
	}

	header .header_con .logo a {
		width: 132px;
		height: 37px;
		padding-top: 8px;
		margin: 0 auto;
	}

	header .header_con .he_nav {
		width: 100%;
		height: 55px;
	}

	header .header_con .he_nav .list1 {
		display: none;
	}
	header .header_con .he_nav .list2 {
		display: flex;
		justify-content: space-between;

	}

	header .header_con .he_nav .list2 li{
		margin-right: 0;
	}

	header .header_con .he_nav .list2 .more-hide {
		display: none;
	}

	footer{

        height:120px;
    }
    footer .fo_p{
        width:244px;
        height:100%;
        line-height: 35px;
        display: block;
    }
    footer .fo_p p{
        float: none;
        font-size: 12px;
        height: auto;
        line-height: 35px;
    }

	
}

@media all and (max-width: 600px) {
	header {
		
	}

	header .header_con {
		width: 100%;
	}

	header .header_con .he_nav .list2 {
		width: 320px;
	}

	footer{

        height:120px;
    }
    footer .fo_p{
        width:244px;
        height:100%;
        line-height: 35px;
        display: block;
    }
    footer .fo_p p{
        float: none;
        font-size: 12px;
        height: auto;
        line-height: 35px;
        text-align: center;
    }

}































