/*主页样式*/


/*banner*/
.banner {
	position: relative;
	width: 100%;
	height: 500px;
	margin-top: 68px;
}

.banner .ban_part {
	width: 100%;
	height: 100%;
}
.banner .ban_part .part {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.banner .ban_part .active {
	display: block;
}

.banner .ban_part .ban_part1 {
	width: 100%;
	height: 100%;
	background: url(../images/index/bg1-1.png) no-repeat 0 0/100% 100%;
}

.banner .ban_part .ban_part1 .img1 {
	width: 300px;
	height: 125px;
	position: absolute;
	top: 310px;
	left: 56px;
	background: url(../images/index/bg1-2.png) no-repeat 0 0/100% 100%;
}

.banner .ban_part .ban_part1 .img2 {
	width: 635px;
	height: 435px;
	position: absolute;
	bottom: 0;
	right: 10px;
	background: url(../images/index/bg1-3.png) no-repeat 0 0/100% 100%;

	
}

.banner .ban_part .ban_part1 .img2 .video {
	position: absolute;
	left: 96px;
	top: 22px;
	z-index: 1;
	width: 430px;
	height: 260px;
}

.banner .ban_part .ban_part1 .img2 .video video {
	object-fit: fill;
	width: 100%;
	height: 100%;
}

video {
	display: none;
}

.banner .ban_part .ban_part1 .img2 .video .play-icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: url(../images/index/play.png) no-repeat center;
	background-size: 20%;
	cursor: pointer;
}

.banner .ban_part .ban_part1 .img2 .video .play-icon:hover {
	background: url(../images/index/play_hover.png) no-repeat center;
	background-size: 20%;
}

.banner .ban_part .ban_part2 {
	width: 100%;
	height: 100%;
	background: radial-gradient(rgb(0,173,239),rgb(0,82,124));
}

.banner .ban_part .ban_part2 .img1 {
	width: 305px;
	height: 120px;
	position: absolute;
	top: 300px;
	left: 60px;
}

.banner .ban_part .ban_part2 .img1 p {
	width: 100%;
	margin: 12px 0;
	
}

.banner .ban_part .ban_part2 .img1 p img {
	display: block;
	width: 100%;
	height: auto;
}

.banner .ban_part .ban_part2 .img2 {
	position: absolute;
	right: 100px;
	bottom: 20px;
	width: 635px;
	height: 445px;
	background: url(../images/index/bg2-4.png)0 0/100% 100%;
}

.banner .ban_part .ban_part3 {
	background: url(../images/index/bg3-1.jpg)0 0/100% 100%;
}

.banner .ban_part .ban_part3 .img1 {
	position: absolute;
	top: 0;
	left: 50px;
	width: 640px;
	height: 494px;
	background: url(../images/index/bg3-2.png)0 0/100% 100%;
}

.banner .ban_part .ban_part3 .img2 {
	position: absolute;
	top: 100px;
	right: 100px;
	width: 305px;
	height: 120px;
}

.banner .ban_part .ban_part3 .img2 p {
	width: 100%;
	margin: 12px 0;
}

.banner .ban_part .ban_part3 .img2 p img {
	display: block;
	width: 100%;
	height: auto;
}

.banner .ban_tab {
	position: absolute;
	bottom: 14px;
	left: 50%;
}

.banner .ban_tab ul li{
	width: 8px;
	height: 8px;
	float: left;
	border: 2px solid #9bb335;
	border-radius: 50%;
	margin-right: 10px; 
	background-color: #006597;
	opacity: 0.8;
}

.banner .ban_tab ul li.current {
	background-color: #9bb335;
}


/*Classic cases*/

.cases {
	width: 100%;
	height: 790px;
	background: url(../images/index/bg.png) center center;
	position: relative;
}

.cases .heading, .parter .heading {
	max-width: 512px;
	width: 100%;
	height: 90px;
	background: url(../images/index/line.png) no-repeat center bottom;
	padding-top: 30px;
	margin: 0 auto;
}

.cases .heading img ,.parter .heading img {
	display: block;
	margin: 0 auto;
}

.cases .heading p ,.parter .heading p {
	margin-top: 22px;
	text-align: center;
	font-size: 18px;
}

.cases .cases_con {
	overflow: hidden;
	position: relative;
	width: 85%;
	height: 475px;
	margin: 80px auto 0;

}

.cases .cases_con ul {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500%;
	height: 100%;
	margin-left: -960px;
	opacity: 1;
}

.cases .cases_con ul li {
	
	float: left;
	position: relative;
	top: 50%;
	width: 192px;
	height: 317px;
	transform: translate(0,-50%);
	transition: width .3s,height .3s;

}

.cases .cases_con ul li img {
	width: 100%;
	height: 100%;
}

.cases .cases_con ul li.side {
	width: 240px;
	height: 396px;
}

.cases .cases_con ul li.middle {
	width: 288px;
	height: 475px;
}

.cases .case_btn div{
	position: absolute;
	top: 50%;
	width: 48px;
	height: 48px;
	transform: translate(0,-50%);
	cursor: pointer;
}

.cases .case_btn div.left {
	left: 45px;
}

.cases .case_btn div.right {
	right: 45px;
}

.cases .case_tab {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%,0);
}

.cases .case_tab ul li {
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	background: url(../images/index/c_dot1.png) no-repeat center center;
}

.cases .case_tab ul li.get {
	background: url(../images/index/c_dot_s.png) no-repeat center center;
}


/*partner*/
.parter {
	width: 100%;
	height: 500px;
}
.parter .part_con {
	margin: 100px auto 0;
}

.parter .part_con ul {
	width: 900px;
	height: 52px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}


